<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Schedule website</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Archivo&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-logo">
          <img src="assets/full_logo_white.png" alt="Mr.Coffee Full Logo" />
        </div>
        <ul class="nav-links">
          <li><a href="/<%=userId%>">Home</a></li>
          <li>
            <a href="/<%=userId%>/scheduleManagement">Schedule Management</a>
          </li>
          <li><a href="/logout">Log out</a></li>
        </ul>
      </nav>
    </header>
    <div class="banner">
      <h1>Welcome <%= firstname[0].firstname %></h1>
      <h1><%= date %></h1>
    </div>

    <h2>All schedules:</h2>

    <table>
      <tr>
        <th>User ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Day</th>
        <th>Start Time</th>
        <th>End Time</th>
      </tr>

      <% for(let i = 0; i < schedules.length; i++) { %>
      <tr>
        <td
          class="user-link"
          onclick="location.href='/<%= schedules[i].user_id %>/user'"
        >
          <%= schedules[i].user_id %>
        </td>
        <td
          class="user-link"
          onclick="location.href='/<%= schedules[i].user_id %>/user'"
        >
          <%= schedules[i].firstname %>
        </td>
        <td
          class="user-link"
          onclick="location.href='/<%= schedules[i].user_id %>/user'"
        >
          <%= schedules[i].surname %>
        </td>
        <td><%= schedules[i].day %></td>
        <td><%= schedules[i].start_time.toString().slice(0, 21) %></td>
        <td><%= schedules[i].end_time.toString().slice(0, 21) %></td>
      </tr>
      <% } %>
    </table>
  </body>
</html>
